/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    font-size: 100%;
    font-family: 'Lato', sans-serif;
}

/* VARIABLES */
:root {
    /* Colors */
    --col-white: #ffffff;
    --col-black: #000000;
    --col-bg-green: #009688;
    --col-bg-gray-1: #dddbd1;
    --col-bg-gray-2: #d2dbdb;
    --col-light-gray: #f8f8f8;
    --col-gray: #eaeaea;
    --col-dark-gray: #b1b1b1;
    --col-user-msg: #d5f9ba;
    --col-bg-notification: #8edafc;
    --col-notification-gray: #4f7485;
    --col-chat-sent: #d5f9ba;
    --col-chat-input: #f3eeea;
}

/* COMMON */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(var(--col-bg-green) 0% 15%, var(--col-bg-gray-1) 15%, var(--col-bg-gray-2));
}

.container {
    width: 100%;
    height: calc(100% - 40px);
    margin: 0 auto;
    max-width: 1300px;
    display: flex;

    /* DEBUG */
    background-color: var(--col-gray);
}

/* Sidebar */
.sidebar {
    width: 40%;
    min-width: 300px;
    height: 100%;
    border-right: 1px solid var(--col-dark-gray);
}

/* Sidebar user */
.user-bar {
    height: 70px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem;
}

.user-identification {
    display: flex;
    align-items: center;
}

.user-image {
    width: 50px;
    border-radius: 50%;
}

.user-name {
    padding-left: 1rem;
}

.user-commands {
    font-size: 1.4rem;
    color: var(--col-dark-gray);
}

.user-commands a {
    padding-right: 1rem;
}

/* Sidebar notification */
.notification {
    height: 80px;
    background-color: var(--col-bg-notification);
    padding: 1rem;
}

.notification a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}

.notification-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--col-white);
    color: var(--col-bg-notification);
    font-size: 1.3rem;
}

.notification-text {
    width: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    line-height: 1.2rem;
}

.notification-text span:nth-child(2) {
    font-size: 0.8rem;
    color: var(--col-notification-gray);
    text-decoration: underline;
}

/* Sidebar Search */
.search.container {
    height: 50px;
    background-color: var(--col-light-gray);
}

.search-bar {
    display: flex;
    align-items: center;
    height: 2.3rem;
    background-color: var(--col-white);
    color: var(--col-dark-gray);
    margin: 0.4rem;
}

.search-bar-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    border-right: 3px solid var(--col-light-gray);
}

.search-bar label {
    display: none;
}

.search-bar input {
    width: 100%;
    height: 100%;
    padding: 0 1rem;

    font-size: 0.9rem;
    color: var(--col-dark-gray);
    border: none;
}

/* Sidebar Contact List */
.sidebar-contact-list {
    height: calc(100% - 200px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.contact-card {
    display: flex;
    width: 100%;
    height: 90px;
    justify-content: space-between;
    align-items: center;

    padding: 0.6rem;
    background-color: var(--col-white);
}

.active-contact-card {
    background-color: var(--col-light-gray);
}

.contact-card:not(:last-child) {
    border-bottom: 1px solid var(--col-gray);
}

.contact-card:hover {
    background-color: var(--col-light-gray);
}

.contact-not-found {
    padding: 1rem;
    color: var(--col-dark-gray);
}

.contact-card img {
    width: 70px;
    height: 70px;
    margin: 0 1rem;
   
    border-radius: 50%;
}

.contact-card .contact-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    height: 100%;
    flex-grow: 1;
}

.contact-card .contact-last-msg {
    font-size: 0.7rem;
    padding-top: 0.5rem;
    color: var(--col-dark-gray);
}

.contact-last-time {
    height: 100%;
    font-size: 0.7rem;
    color: var(--col-dark-gray);
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
}

/* Main Chat Header */
.main-header {
    width: 100%;
    height: 70px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem;

    background-color: var(--col-gray);
}

.chat-contact-image {
    height: 70px;
    padding: 0.6rem;
    border-radius: 50%;   
}

.chat-contact-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    height: 100%;
    flex-grow: 1;
}

.chat-last-access {
    font-size: 0.7rem;
    padding-top: 0.5rem;
    color: var(--col-dark-gray);
}

.chat-commands {
    font-size: 1.4rem;
    color: var(--col-dark-gray);
}

.chat-commands a {
    padding-right: 1rem;
}

/* .main-chat-window */
.main-chat {
    width: 100%;
    height: 10%;
    flex-grow: 1;
    background-color:#4f7485;
    background-image: url("../img/mine.jpg");
    overflow-y: scroll;
}

.chat-sent-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.chat-sent {
    min-width: 300px;
    max-width: 60%;
    background-color: var(--col-chat-sent);
    color: var(--col-black);
    margin: 0.7rem 3rem;
    padding: 0.5rem;
    border-radius: 10px;
}

.chat-received-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.chat-received {
    min-width: 300px;
    max-width: 60%;
    background-color: var(--col-white);
    color: var(--col-black);
    margin: 0.7rem 3rem;
    padding: 0.5rem;
    border-radius: 10px;
}

.chat-received .message-time,
.chat-sent .message-time {
    display: block;
    text-align: end;
    font-size: 0.7rem;
    color: var(--col-dark-gray);
}

/* Main Chat Footer */
.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: var(--col-chat-input);
    padding: 0.6rem;
}

.main-footer .emoticon,
.main-footer .audio-rec {
    font-size: 1.4rem;
    padding: 0 1.5rem;
    color: var(--col-dark-gray);
}

.main-footer label {
    display: none;
}

.main-footer input {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    padding: 1rem;
    background-color: var(--col-white);
    color: var(--col-black);
    border-radius: 5px;
    border: none;
}